Repository Islandora-Devops/isle-buildkit, pull requests merged in 2020-06, with the labels that each got.

#5 Use the latest version of Cantaloupe
  cantaloupe/Dockerfile
  cantaloupe/README.md
  cantaloupe/rootfs/etc/confd/templates/cantaloupe.properties.tmpl
Labels: bug

#6 Openseadragon working with cantaloupe 4
  cantaloupe/rootfs/etc/confd/templates/cantaloupe.properties.tmpl
  cantaloupe/rootfs/etc/confd/templates/setenv.sh.tmpl
  docker-compose.yml
  sandbox/Dockerfile
  sandbox/rootfs/etc/confd/templates/sandbox-setup.sh.tmpl
Labels: cantaloupe

#3 Check if the image exists in addition to existing checks to determine…
  build.gradle.kts
Labels: bug, gradle

#52 Simplify scripts and ensure multi-sites work as well as install from e…
  drupal/README.md
  drupal/rootfs/etc/confd/conf.d/create-drupal-databases.sh.toml
  drupal/rootfs/etc/confd/conf.d/create-drupal-databases.sql.toml
  drupal/rootfs/etc/confd/conf.d/drupal-install-sites.sh.toml
  drupal/rootfs/etc/confd/conf.d/drupal-setup-environment.sh.toml
  drupal/rootfs/etc/confd/conf.d/private.key.toml
  drupal/rootfs/etc/confd/conf.d/public.key.toml
  drupal/rootfs/etc/confd/templates/create-drupal-databases.sh.tmpl
  drupal/rootfs/etc/confd/templates/create-drupal-databases.sql.tmpl
  drupal/rootfs/etc/confd/templates/drupal-install-sites.sh.tmpl
  drupal/rootfs/etc/confd/templates/drupal-setup-environment.sh.tmpl
  drupal/rootfs/etc/confd/templates/private.key.tmpl
  drupal/rootfs/etc/cont-init.d/03-drupal-setup-environment.sh
  drupal/rootfs/etc/cont-init.d/03-drupal-setup.sh
  drupal/rootfs/etc/cont-init.d/04-drupal-setup.sh
  drupal/rootfs/usr/local/bin/create-drupal-database.sh
  drupal/rootfs/usr/local/bin/install-drupal-site.sh
Labels: bug
